/* Google fonts */
@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@300;400;500;600 & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    

}

:root {
    --main-color: #5DE0E6;
    --second-color: #004AAD;
    --text-color: #444;
    --gradient: linear-gradient(#5DE0E6, #004AAD);

}

body{
    background-image: url(img/pexels-johannes-plenio-1103970.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(224, 229, 236);
    padding: 5px 100px;

}

.logo img {
    width: 50px;

}

.navbar{
    display: flex;

}

.navbar li {
    position: relative;

}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;

}

.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;

}

.navbar a:hover::after{
    width: 100%;

}


.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;

}

.header-btn .sign-in{
    background: #004AAD;
    color: #fff;
    border-radius: 0.5rem;

}

.header-btn .sign-in:hover {
    background: var(--gradient);
    transition: 0.5s;

}

.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box{
    display: flex;
    width: 930px;
}
.img-box{
    background-color: hsla(0, 0%, 80%, 0.307);
    backdrop-filter: blur(8px);
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
.img-box img{
    width: 100%;
}
.form-box{
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    font-size: 30px;
}
.form-box p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box p a{
    color: #004AAD;
    text-decoration: none;
}
.form-box form{
    margin: 20px 0;
}
form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: #41afb5;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background: #004AAD;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

form .input-group button:hover{
    background: var(--main-color);
    transition: 0.5s;

}

@media (max-width:930px) {
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}